@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}


button {
    width: fit-content;
    height: 30px;
    font-size: 18px;
    /* padding: 10px 20px; */
    cursor: pointer;
    border: 1px solid #33333370;
    border-radius: 30px;
    background-color: #f0f0f000;
    transition: 0.3;
    font-family: "Montserrat";
    font-size: 16px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border: 1px solid #33333370;
    border-radius: 30px;
    padding: 20px;
    width: 500px;
}

label {

    width: 250px;
    text-align: left;
    font-family: "Montserrat";
    font-size: 16px;
}

input[type="number"],
input[type="text"],
input[type="password"]{
    width: 200px;
    border: 3px solid #33333370;
    border-radius: 30px;
    height: 20px;
    font-size: 16px;
    font-family: "Montserrat";
    padding: 5px;
}






.z2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border: 1px solid #33333370;
    border-radius: 30px;
    padding: 20px;
}



.error-message {
    color: red;
    display: none; /* Скрыто по умолчанию */
}