@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #33333370;
    border-radius: 30px;
    background-color: #f0f0f000;
    transition: 0.3;
    font-family: "Montserrat";
    font-size: 24px;

}

button:hover {
    box-shadow: 0 0 0 4px #33333370;
}