body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}


button {
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 30px;
    
}