@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat";
    font-size: 18px;
    margin: 0;
    padding: 0;
    background:linear-gradient(90deg, #333, #f4f4f4, #333);
    text-align: center;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.block {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
}
.question {
    margin-bottom: 15px;
    text-align: left;
}
.question p {
    font-weight: bold;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.correct {
    color: green;
}
.wrong {
    color: red;
}
.answers label {
    display: block;
}
button {
    background: #333;
    width: 250px;
    height: fit-content;
    font-size: 18px;
    border-radius: 30px;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #555555;
}

.text{
    text-align: left;
}

img{
    margin-top: 10px;
    margin-bottom: 10px;
}